.note-window{
    color: rgba(236, 235, 235, 0.88);
    padding-left: 1.5rem;
    padding-bottom: 5rem;
    overflow-y: auto;
    padding-top: 1rem;
    height: 100%;
    overflow: scroll;

    pre{
        background-color: transparent !important;
    }
}