.dock{
    display: flex;
    gap:.4rem;
    position: absolute;
    bottom: 1rem;
    left:50%;
    transform: translateX(-50%);

    background-color: rgb(63, 63, 63,0.395);
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    backdrop-filter: blur(5px);

    img{
        height: 1.2rem;
    }

    .icon{
        padding: 0.65rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        transition: all 0.2s linear;
    }

    .icon:hover{
        transform: scale(1.2) translateY(-24%);
    }
    
    .icon:hover +.icon,
    .icon:has(+ .icon:hover)
    {
        transform: scale(1.1) translateY(-12%);

    }

    .github{
        background-color: whitesmoke;
    }

    .note{
        background: linear-gradient(to bottom, rgba(237, 173, 53, 0.998), rgb(231, 152, 6));
    }

    .pdf{
        background-color: rgba(225, 52, 52, 0.903);
        cursor: default;
    }

    .calendar{
        background-color: rgba(71, 71, 247, 0.827);
    }

    .spotify{
        background-color: rgb(41, 182, 41);
    }
    .email{
        background-color: rgb(84, 84, 213);
    }
    .link{
        background-color: rgb(183, 26, 183);
    }
    .cli{
        background-color: rgb(121, 244, 203);
    }
}

