nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color:white;
    padding:0.5rem 0.75rem;
    background-color: #636161f3;
    backdrop-filter: blur(5px);
    font-family: system-ui;
    font-size:.7rem;

    .left,
    .right{
        display: flex;
        gap:1rem;

        .apple-icon img{
            height: .9rem;
            transform: translateY(-5%);
        }
    }

    .wifi-icon img{
        height: 1rem;
        transform: translateY(-3%);
    }
}


@media (max-width:415px) {
    nav{
        .left,
        .right{
            gap:0.3rem;
        }
    }
    
}