*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(/mac-wallpaper.jpg);
    background-size: cover;
    background-position: center;
}
